@charset "UTF-8";
/* CSS Document */

html{
	font-size:62.5%;/*16px × 62.5%=10px*/
}

body{
	color:#00000;
	font-family:'Yu Mincho', 'Hiragino Mincho ProN', 'serif';
	font-size: 1.6rem;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.text-center{
	text-align: center;
}

.sp__img{display:none;
	     
}
img{
	width: 100%;
	height: auto;
}

.eng{
	display: block;
	font-size: 2vw;
	line-height: 2em;
}
.jpn{
	display: block;
	font-size: 1vw;
	color:#294F75; 
}

/*------------------------------
*
*header
*
*
--------------------------------*/
.gnav nav{
	background-color:rgba(255,255,255,0.7);
    display:flex;
    align-items:center;
    width:100%;
    margin:0 auto;
	position: fixed;
	z-index: 100;
  }
  .menu{
    display: block;
    margin:0 20px;
    padding:1em 10px;
    color:#000;
    text-decoration:none;
    letter-spacing:0em;
  }
.menu:hover{
	text-decoration: underline;
	}
 .logo{
    width:8%;
    height:5%;
    margin-right:auto;
    margin-left:2%;
  }
	
.gnav{
	position: absolute;
	top: 0.5px;
	width: 100%;
}
.top{
	position: relative;
}
.main-title{
	position: absolute;
	bottom: 0;
	background-color: #FFFFFF;
	padding: 4% 5%;
}
/*------------------------------
*
*profifle
*
*
--------------------------------*/
.profile{
	margin-top: 15%;
}
.gpro{
	display: flex;
	width: 95%;
	margin: 0 auto;
}
.name{
	margin-left: 10%;
	text-align: start;
	
}
.title{
	
}
.profile li{
	padding: 15px;
	border-bottom: solid 2px #D8D8D8;
}
.new-line{
	padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.licence{
	display: flex;
	margin-bottom: 5%;
	font-size: 1vw;
}
.licence-list{
	width: 30%;
}
.people{
	text-align: start;
	margin-left: 5%;
}
.g-licence{
	display: flex;
	justify-content: center;
}

.text{
	font-size: 1vw;
	text-align: end;
	margin-right: 5%;
}

/*------------------------------
*
*poricy
*
*
--------------------------------*/
.poli-main{
	position: relative;
	margin-top: 10%;
	padding-bottom: 8%;	
}
.poli-main::after{
	position: absolute;
	content: "";
    display: block;
	bottom: 0;
    left: 50%;
    width: 1px;
    height: 80px;
    background-color: #000;
}
.gpori{
	position: relative;
}
.policy-name{
	color: #294F75;
	margin: 2% 10%;
}
.policy-name::before{
	content: "";
    display: block;
    position: absolute;
    top: 0.5em;
    left:0;
    width: 70px;
    height: 1px;
    background-color: #294F75;
}
.policy-name2{
	color: #294F75;
	margin: 2% 10%;
}
.policy-name2::before{
	content: "";
    display: block;
    position: absolute;
    top: 0.5em;
    left:0;
    width: 70px;
    height: 1px;
    background-color: #294F75;
}

.poli-title{
	margin: 2% 0;
}
.poli-text{
	line-height: 1.5em;
	font-size: 1vw;
}
.box{
	border: 1px solid #294F75;
	width: 90%;
	margin: 0 auto;
	padding: 2%;
}
.turumi-poli{
	margin-top: 10%;
}

/*------------------------------
*
*link
*
*
--------------------------------*/
.glink{
	display: flex;
	justify-content:center;
	margin-top: 15%;
	margin-bottom: 5%;
}
.link{
	background-color: #FFFFFF;
	border: solid 1px #000;
	text-align: center;
	padding:1% 4%;
}
.link2{
	ackground-color: #FFFFFF;
	border: solid 1px #000;
	padding:1% 6%;
}
.glink a{
	color: #000000;
}
.eng2{
	display: block;
	font-size: 1.5vw;
	line-height: 2em;
}
.jpn2{
	display: block;
	font-size: 1vw;
	color:#294F75; 
}
.botton:hover{
	opacity: 0.5;
}
/*------------------------------
*
*footer
*
*
--------------------------------*/
.band{
	background-color: #093756;
	padding-top: 2%;
	display: flex;
	padding: 2% 5%;
}
.nav2 nav{
	display:flex;
	color: #FFFFFF;
	justify-content:space-around;
}
.nav2{
	border-top: solid 2px #FFFFFF;
}
.gnav2{
	color: #FFFFFF;
	background-color:#093756;
}
.foot-img{
	width: 25%;
	margin-bottom:2%;
}
.access{
	width: 80%;
	color: #FFFFFF;
	line-height: 2em;
}
.contact{
	margin-left: 100px;
	width: 100%;
	padding-top: 2%;
	color: #FFFFFF;
}
.contact-border{
  width: 0.5%;
  background-color:#FFFFFF;
}
.contact-name{
	font-size: 2vw;
}
.contact-text{
	padding-top: 5%;
}
.lineArrow3{
	height: 15px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: skew(40deg);
    margin-left: 72%;
    margin-top: -1%;
}
.contact-botton{
	padding-top: 3%;
}
.contact-botton-text2{
	margin-left: 75%;
}
.foot-menu{
	color: #FFFFFF;
}
.inner{
	margin-top:2%;
}
.contact-botton-text a{
	color: #FFFFFF;
	font-size: 1.3vw;
}
.moreLink:hover .contact-botton-text{
	font-weight: bolder;
}
.glink .jpn{
	font-size: 1vw;
}


@media screen and (max-width:375px){
.pc__img{
		display: none;
	}
.sp__img{
	display: block;	
	}
/*------------------------------
*
*header
*
*
--------------------------------*/
.logo-sp{
	width: 35%;
    margin-top: 5%;
	margin: 0 auto;
}
.slide-top img{
	height: auto;
}
.slid-top{
	position: relative;
	}
.top-text{
position: absolute;
top:3%;
}	
.gnav{
display: none;
}	

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
background: rgba(255,255,255,0.6);
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #093756;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  right : 0;
  color: #fff;
  background: rgba(9,55,86,0.8);
  text-align: center;
  width: 60%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}


/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}
	.eng{
		font-size: inherit;
	}

/*------------------------------
*
*profifle
*
*
--------------------------------*/

	.g-licence li{
		font-size: 2vw;
	}
	.title{
		width: 35%;
	}
	.title-sp{
		font-size: 3vw;
		font-weight: bolder;
		padding-bottom: 5%;
	}
	
	.licence-list{
		width: 48%;
	}
	.title-sp2{
		font-size: 3vw;
		font-weight: bolder;
		padding-bottom: 5%;
		margin-left: 5%;
	}
	
	
	
/*------------------------------
*
*link
*
*
--------------------------------*/		
	.link{
		width: 33.3%;
		padding: 2% 5%;
	}
	.link2{
		width: 33.3%;
		padding: 2% 5%;
		text-align: center;
	}
/*------------------------------
*
*poricy
*
*
--------------------------------*/
	.poli-main::after{
		height: 30px;
	}	
	.policy-name::before{
		width: 30px;
	}
	.policy-name2::before{
		width: 30px;
	}
	.policy-name{
			font-size: 3.5vw;
	}
	.policy-name2{
		font-size: 3.5vw;
	}
	.poli-title{
		font-size: 3.5vw;
	}
	.poli-text{
		line-height: 3.5em;
	}
	
	

/*------------------------------
*
*footer
*
*
--------------------------------*/		
.footer-sp{
	background-color: #093756;	
}	
.contact-title-sp{
	color: #FFFFFF;	
}	
.contact-text-sp{
	color: #FFFFFF;
	font-size: 1vw;
	text-align: center;
    margin-top: 4%;
}	
	.lineArrow3{
		width: 30%;
       margin: 0 auto;
		margin-top: -2%;
}
	.contact-botton-text2{
		width: 20%;
   	    margin: 3% auto 0;
	}	
	.foot-img{
	width: 20%;
      margin: 4% auto;
	}	
	.accsess-text-sp{
		text-align: center;
		color: #FFFFFF;
		font-size: 1vw;
		padding-bottom:2%;
	}
	.foot-menu{
		font-size: 1vw;
	}
	.menu{
		padding: 1em 5px;
	}
	.inner{
		color: #FFFFFF;
		font-size: 0.3vw;
	}
	
	
	}
	













